{% extends 'base.html.twig' %}

{% block title %}Sincronización{% endblock %}

{% block main %}
    <h1>{% block main_title %}Sincronización{% endblock %}</h1>

    {{ component('images_synchronisation') }}
{% endblock %}