html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    flex-grow: 1;
    font-family: merriweather sans,sans-serif;
}

@import "common/button.css";
@import "common/sidebar.css";
@import "common/card.css";
@import "common/main.css";
@import "components/table.css";
@import "common/form.css";
@import "common/badge.css";
@import "database/authentication-options.css";
@import "shop/shop-card.css";
@import "server/server-card.css";
@import "synchronisation/synchronisation.css";
@import "components/live-log.css";
@import "components/progress-bar.css";